<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- Address and Telephone -->
      <div class="contactInfo">
        <a href="https://goo.gl/maps/68KneS8v2rYyehNq5" target="_blank"
          >1600 20th St, Denver, CO 80202</a
        >
        <a href="tel:+720.769.1414">720.769.1414</a>
      </div>
      <!-- Menu List -->
      <nav class="absoluteNav">
        <div class="absoluteNav__menuLinks">
          <nav>
            <!-- List Navigations -->
            <ul>
              <li><a href="Hours_Location.html">HOURS & LOCATION</a></li>
              <li><a href="Menus.html">MENUS</a></li>
              <li><a href="Our_Story.html">OUR STORY</a></li>
              <li><a href="Happenings.html">HAPPENINGS</a></li>
              <li><a href="Private_Event.html">PRIVATE EVENTS</a></li>
              <li><a href="Order_Online.html">ORDER ONLINE</a></li>
            </ul>
            <!-- Button for Appointment -->
            <button>RESERVATIONS</button>
          </nav>
        </div>
      </nav>
    </header>
  </body>
</html>
