* {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

.container-fluid {
  display: flex;
  flex-flow: wrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 30px 52px 10px 52px !important;
  font-family: "Martel Sans", sans-serif;
}

/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(../img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 7.3px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__absoluteNav {
  display: flex;
  flex-wrap: wrap;
}
.header__absoluteNav-logo {
  width: 25%;
  height: auto;
}
.header__absoluteNav-menuLinks {
  margin-left: -36px;
  padding-top: 7px;
}
.header__absoluteNav-menuLinks > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
}

.header__absoluteNav-menuLinks > nav > ul > li > a {
  font-size: 8px;
  color: #000;
  font-weight: 600;
}

/* Footer */
header,
footer {
  width: 100%;
  height: auto;
}
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
div.footer__logo img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* position: relative; */
}
.footer__social-links {
  margin-left: -37px;
  /* position: relative;
  left: -40px; */
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul > li {
  margin: 2px;
}
.footer__social-links ul > li > a {
  font-size: 10px;
  padding: 0px 3px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i {
  max-width: 15px;
  max-height: 15px;
  color: white;
}

.footer__menu-navs {
  /* position: relative;
  right: 10px; */
  margin-right: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer__menu-navs ul {
  /* position: relative;
  right: 10px; */
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul > li {
  margin: 5px;
  width: max-content;
}
.footer__menu-navs ul > li > a.opt {
  font-size: 9px;
  color: #000;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.footer__menu-navs ul > li > a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__menu-navs ul > li > a.opt:hover:after {
  width: 100%;
  left: 0;
}
.footer__menu-navs a.button {
  color: #000;
  border: 1px solid #000;
  padding: 4px 14px;
  font-size: 7px;
  font-weight: 700;
}

.footer__menu-navs a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
