/* Applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-fluid {
    padding: 50px !important;
  }
  .borderOverlay {
    border-width: 55px;
    border-image-slice: 173 178;
    border-image-repeat: repeat;
  }

  div.header__contactInfo a.telInfo {
    display: none;
  }
  /* menu icon */
  div.menu-btn {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 20px;
    color: #253059;
    top: 30px;
    right: 60px;
  }

  div.menu-btn div.btn-line {
    width: 22px;
    height: 2.5px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  /*Animate lines*/
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .btn-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.open .btn-line:nth-child(3) {
    transform: translateY(-6px) rotate(-43deg);
  }

  .header__contactInfo {
    margin-top: 20px;
  }

  /* Menu in button */
  div.header__fixedNav-menuLinks > nav > ul,
  .header__fixedNav-menuLinks-active {
    display: none;
  }
  div.menuTablet {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 70px;
    left: 0%;
    text-align: center;
    z-index: 1;
    background-color: #f5f3ec;
  }
  .hiddenAll {
    display: none;
  }

  /* content */
  section.logoAndCategory {
    padding-top: 330px;
    padding-bottom: 420px;
  }
  div.mainLogo > img {
    max-width: 360px;
  }
  section.logoAndCategory div.mainLogo img.subLogo {
    top: -345.5px;
    right: 0px;
    max-width: 100px;
    max-height: 100px;
  }
  div.subCategory {
    margin: 0;
  }
  div.subCategory__content {
    gap: 20px;
  }
  div.subCategory__content h3 {
    font-size: 21px;
  }
}

/* Applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    background-color: orange;
  }
}
/* Applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    background-color: yellow;
  }
}
