* {
  scroll-behavior: smooth;
  color: #1c2c59;
}
ul {
  list-style: none;
}
a {
  color: #253059 !important;
  text-decoration: none !important;
}
.container-fluid {
  display: flex;
  flex-flow: nowrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 60px 102px 44px 102px !important;
  font-family: "bilo";
  line-height: 1.5;
}
/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(/img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  font-size: 12.8px;
  margin-top: 0px;
  letter-spacing: 1.4px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__fixedNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
/* When scroll, add these classes to create fixed navbar */
.header__fixedNav-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Create fixed */
  overflow: hidden;
  background-color: #f5f3ec;
  transition: 0.1s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  z-index: 30;
}
.header__fixedNav-menuLinks-active {
  margin-left: 188px;
  padding: 83px 0 26px 0;
}
.header__fixedNav-menuLinks-active nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 21px;
  margin-right: -20px;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks-active nav ul li a.button {
  border: 2px solid #000;
  margin-left: -1px;
  padding: 8px 23px 12.5px 23px;
  font-size: 15.2px;
  font-weight: 600;
}
.header__fixedNav-menuLinks-active a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
.header__fixedNav-logo img#logo.active {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-logo img#logo-fixedNav.active {
  display: block;
  width: 100%;
  height: 42%;
  margin-left: 99px;
  margin-top: 67px;
  max-width: 90px;
  max-height: 60px;
}
/* No fixed navbar */
.header__fixedNav-logo img {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-menuLinks {
  margin-left: -37px;
  padding-top: 14px;
}
.header__fixedNav-menuLinks nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks nav ul li a.opt {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  font-family: "bilo";
}
.header__fixedNav-menuLinks nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks nav ul li a.button {
  border: 2px solid #000;
  margin-right: -6px;
  padding: 8px 23px 11px 21px;
  font-size: 15.3px;
  letter-spacing: 1.1px;
  font-weight: 600;
}
.header__fixedNav-menuLinks a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
/* Content */
/* logoAndCategory */
section.logoAndCategory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  padding-top: 116px;
  padding-bottom: 250px;
}
section.logoAndCategory div.mainLogo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}
div.mainLogo > img {
  width: 100%;
  height: 100%;
  max-width: 526px;
  object-fit: cover;
}
section.logoAndCategory div.mainLogo img.subLogo {
  position: absolute;
  top: -101.5px;
  right: 83.5px;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
}
div.subCategory {
  margin: 7px 0 0 16px;
  position: relative;
}
div.subCategory__content {
  display: flex;
  flex-flow: nowrap row;
  gap: 80px;
}
div.subCategory__content h3 {
  font-family: "bicyclette";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26.4px;
}
div.subCategory__content h3.classics {
  color: #f5f3ec;
  -webkit-text-stroke: 0.5px #1c2d58;
  margin: 0 4px;
  padding: 0px 7px;
}
div.subCategory__content h3.comfort {
  padding-right: 9px;
}
div.subCategory__content img.diamond {
  width: 28px;
  height: 17px;
}
a.arrow-info {
  position: absolute;
  bottom: 113px;
  right: 47%;
  z-index: 10;
  font-size: 40.5px;
  animation: float 1s ease-in-out infinite;
  transition: 1s ease all;
}
span#infoHP {
  position: absolute;
  top: 14.4%;
}
/* Animation for arrow-info */
@keyframes float {
  0% {
    transform: translatey(0px) translateX(-50%);
  }
  50% {
    transform: translatey(-10px) translateX(-50%);
  }
  100% {
    transform: translatey(0px) translateX(-50%);
  }
}

/* infoHP */
section.infoHP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
div.ourMenusArea {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 17px;
  margin-bottom: 85px;
}
div.ourMenusArea div.ourMenuImg {
  width: 50%;
  height: 75.8vh;
}
div.ourMenusArea div.ourMenuImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.ourMenusArea div.ourMenuContent {
  width: 47.1%;
  height: 75.8vh;
  border-width: 30px;
  border-style: solid;
  border-image: url(../img/icons/border_content.png);
  border-image-slice: 190;
  border-image-repeat: stretch;
  padding: 85px 80px;
  text-align: left;
}
div.ourMenusArea div.ourMenuContent h2.titleContent {
  position: relative;
  font-family: "bicyclette";
  color: #1c2c59;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 42.5px;
  margin-bottom: 23px;
}
div.ourMenusArea div.ourMenuContent h2::after {
  content: "";
  display: block;
  margin: auto;
  width: 200px;
  height: 90px;
  top: -48px;
  position: absolute;
  right: -108px;
  background-image: url(../img/icons/Logo_steak.png);
  background-size: contain;
  background-repeat: no-repeat;
}
div.ourMenusArea div.ourMenuContent p {
  font-size: 18px;
  margin-bottom: 43px;
}
div.ourMenusArea div.ourMenuContent a.button {
  border: 2px solid #000;
  border-radius: 0;
  padding: 11px 25.4px 11.2px 26.2px;
  font-size: 15.2px;
  font-weight: 700;
  letter-spacing: 1px;
}
div.ourMenusArea div.ourMenuContent a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
div.introHP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
div.introHP div.optionCards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  flex-flow: row nowrap;
  gap: 37px;
}
div.introHP div.optionCards div.cardItem {
  width: 24.2%;
  padding: 23px;
  border: 1px solid;
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
  background-color: #1c2d59;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.introHP div.optionCards div.cardItem a {
  color: #87aeab !important;
  margin-bottom: 0;
  font-size: 20px;
  font-family: "bicyclette";
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px;
  line-height: 22px;
}
div.introHP div.introContent {
  width: 100%;
  height: 100%;
  margin: 66px 0;
  padding: 0 100px;
}
div.introHP div.introContent p {
  font-size: 24px;
  text-align: center;
}

/* HappeningArea */
div.happeningsArea {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 17px;
  margin-bottom: 52px;
}
div.happeningsArea div.happeningContent {
  width: 48.5%;
  height: 65vh;
  border-width: 30px;
  border-style: solid;
  border-image: url(../img/icons/border_content.png);
  border-image-slice: 190;
  border-image-repeat: stretch;
  text-align: left;
  padding: 99px 80px;
  margin-left: 19px;
}
div.happeningsArea div.happeningContent h2.titleContent {
  position: relative;
  font-family: "bicyclette";
  color: #1c2c59;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 42.5px;
  margin-bottom: 23px;
}
div.happeningsArea div.happeningContent h2::after {
  content: "";
  display: block;
  margin: auto;
  width: 230px;
  height: 100px;
  top: -49px;
  position: absolute;
  right: -157.4px;
  background-image: url(../img/icons/illustration_2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
div.happeningsArea div.happeningContent p {
  font-size: 18px;
  margin-bottom: 43px;
}
div.happeningsArea div.happeningContent a.button {
  border: 2px solid #000;
  border-radius: 0;
  padding: 11px 25.4px 11.2px 26.2px;
  font-size: 15.2px;
  font-weight: 700;
  letter-spacing: 1px;
}
div.happeningsArea div.happeningContent a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}

div.happeningsArea div.happeningImg {
  width: 52%;
  height: 65vh;
}
div.happeningsArea div.happeningImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.imageHP {
  width: 100%;
  height: 65vh;
}
div.imageHP img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.followArea {
  width: 100%;
  height: 100%;
  min-height: 32vh;
  max-height: 32vh;
  padding: 33px;
  margin: 44px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
div.followArea h2 {
  font-family: "bicyclette";
  color: #1c2c59;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 42.5px;
  margin-bottom: -1px;
  margin-top: 8px;
}
div.followArea a {
  text-decoration: underline !important;
  font-family: "bicyclette";
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 34px;
  margin-bottom: 30px;
  color: #f5f3ec !important;
  -webkit-text-stroke: 0.5px #1c2c59;
}
div.followArea a:hover {
  -webkit-text-stroke: 0;
  color: rgba(28, 44, 89, 0.7) !important;
  text-decoration: underline;
}
div.followArea img {
  width: 115px;
  max-width: 100%;
  height: auto;
}

/* Footer */
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
div.footer__logo img {
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 0 7px 0;
}
.footer__social-links {
  margin-left: -37px;
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul li {
  margin: 4px 8px 0 0px;
}
.footer__social-links ul li a {
  display: flex;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i.fa-brands {
  font-size: 15px;
  padding: 0 1px;
  color: white;
}
.footer__menu-navs {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Cabin";
}
.footer__menu-navs ul {
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul li {
  margin: 3px 5px 5px 5px;
  padding: 3px 5px 5px 5px;
  letter-spacing: 0.6px;
}
.footer__menu-navs ul li a.opt {
  font-size: 15.9px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.footer__menu-navs ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__menu-navs ul li a.opt:hover:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.footer__menu-navs ul li a.button {
  border: 2px solid #000;
  margin-left: -1px;
  padding: 10px 23px 10px 23px;
  font-size: 15.2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "bilo";
}
.footer__menu-navs a.button:hover {
  background-color: #fcba4f;
  transition: ease 0.4s;
}
