/* Applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-fluid {
    padding: 50px !important;
  }
  .borderOverlay {
    border-width: 80px;
    border-image-slice: 186 181;
    border-image-repeat: repeat;
  }
  div.header__contactInfo a {
    font-size: 16px;
    margin-top: 22px;
  }
  div.header__contactInfo a.telInfo {
    display: none;
  }
  /* menu icon */
  div.menu-btn {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 20px;
    color: #253059;
    top: 50px;
    right: 91px;
  }

  div.menu-btn div.btn-line {
    width: 24px;
    height: 3px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  /*Animate lines*/
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .btn-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.open .btn-line:nth-child(3) {
    transform: translateY(-6px) rotate(-43deg);
  }

  .header__contactInfo {
    margin-top: 20px;
  }

  /* Menu in button */
  div.header__fixedNav-menuLinks > nav > ul,
  .header__fixedNav-menuLinks-active {
    display: none;
  }
  div.menuTablet {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 70px;
    left: 0%;
    text-align: center;
    z-index: 1;
    background-color: #f5f3ec;
  }
  .hiddenAll {
    display: none;
  }

  /* content */
  section.logoAndCategory {
    padding-top: 410px;
    padding-bottom: 650px;
  }
  div.mainLogo > img {
    max-width: 405px;
  }
  section.logoAndCategory div.mainLogo {
    padding-top: 37px;
    height: 16vh;
  }
  section.logoAndCategory div.mainLogo img.subLogo {
    top: -422px;
    right: 33px;
    max-width: 100px;
    max-height: 100px;
  }
  div.subCategory {
    margin: 8px 0 0 10px;
  }
  div.subCategory__content {
    gap: 38px;
  }
  div.subCategory__content h3 {
    font-size: 21px;
  }
  div.subCategory__content h3.comfort {
    padding-right: 4px;
  }
  a.arrow-info {
    bottom: 101px;
    right: 45.15%;
  }
  span#infoHP {
    top: 22.8%;
  }
  div.ourMenusArea {
    margin-top: -43px;
    /* margin-bottom: 85px; */
  }
  div.ourMenusArea div.ourMenuImg,
  div.ourMenusArea div.ourMenuContent {
    height: 47vh;
  }
  div.ourMenusArea div.ourMenuContent {
    padding: 69px 28px 50px 30px;
    width: 45.5%;
  }
  div.ourMenusArea div.ourMenuContent h2.titleContent {
    font-size: 36.7px;
    padding: 18px 67px 3px 16px;
    margin-left: -17px;
    line-height: 39px;
  }
  div.ourMenusArea div.ourMenuContent h2::after {
    width: 190px;
    height: 74.5px;
    top: -35px;
    right: -81px;
  }
  .header__fixedNav-logo img#logo-fixedNav.active {
    max-width: 63px;
    max-height: 44px;
    margin-left: 84px;
    margin-top: 52px;
    margin-bottom: 17px;
  }
}

/* Applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    background-color: orange;
  }
}
/* Applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    background-color: yellow;
  }
}
