* {
  scroll-behavior: smooth;
  color: #1c2c59;
}
ul {
  list-style: none;
}
a {
  color: #253059 !important;
  text-decoration: none !important;
}
.container-fluid {
  display: flex;
  flex-flow: nowrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 60px 100px 44px 100px !important;
  font-family: "bilo";
  line-height: 1.5;
}
/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(/img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  font-size: 12.8px;
  margin-top: 0px;
  letter-spacing: 1.4px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__fixedNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
/* When scroll, add these classes to create fixed navbar */
.header__fixedNav-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Create fixed */
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 0.1s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  z-index: 30;
}
.header__fixedNav-menuLinks-active {
  margin-left: 15px;
  padding: 86px 0 20px 0;
}
.header__fixedNav-menuLinks-active nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 21px;
  margin-right: -20px;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt {
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks-active nav ul li a.button {
  border: 2px solid #000;
  margin-left: -3px;
  padding: 9px 25px 9px 25px;
  font-size: 15.7px;
  font-weight: 600;
}
.header__fixedNav-menuLinks-active a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
.header__fixedNav-logo img#logo.active {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-logo img#logo-fixedNav.active {
  display: block;
  width: 100%;
  height: 42%;
  margin-left: 99px;
  margin-top: 60px;
  max-width: 92px;
}
/* No fixed navbar */
.header__fixedNav-logo img {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-menuLinks {
  margin-left: -37px;
  padding-top: 14px;
}
.header__fixedNav-menuLinks nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks nav ul li a.opt {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  font-family: "bilo";
}
.header__fixedNav-menuLinks nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks nav ul li a.button {
  border: 2px solid #000;
  margin-right: -6px;
  padding: 8px 23px 11px 21px;
  font-size: 15.3px;
  letter-spacing: 1.1px;
  font-weight: 600;
}
.header__fixedNav-menuLinks a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
/* Content */
/* logoAndCategory */
section.logoAndCategory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  padding-top: 116px;
  padding-bottom: 250px;
}
section.logoAndCategory div.mainLogo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}
div.mainLogo > img {
  width: 100%;
  height: 100%;
  max-width: 526px;
  object-fit: cover;
}
section.logoAndCategory div.mainLogo img.subLogo {
  position: absolute;
  top: -101.5px;
  right: 83.5px;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
}
div.subCategory {
  margin: 7px 0 0 16px;
  position: relative;
}
div.subCategory__content {
  display: flex;
  flex-flow: nowrap row;
  gap: 80px;
}
div.subCategory__content h3 {
  font-family: "bicyclette";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26.4px;
}
div.subCategory__content h3.classics {
  color: #f5f3ec;
  -webkit-text-stroke: 0.5px #1c2d58;
  margin: 0 4px;
  padding: 0px 7px;
}
div.subCategory__content h3.comfort {
  padding-right: 9px;
}
div.subCategory__content img.diamond {
  width: 28px;
  height: 17px;
}
a.arrow-info {
  position: absolute;
  bottom: 74px;
  z-index: 10;
  font-size: 44px;
}
/* Animation for arrow-info */
@keyframes pulse-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.pulse-element {
  animation: pulse-up-down 1s infinite;
}
/* infoHP */
section.infoHP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
div.ourMenusArea {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 17px;
}
div.ourMenusArea div.ourMenuImg {
  width: 50%;
  height: 75.8vh;
}
div.ourMenusArea div.ourMenuImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.ourMenusArea div.ourMenuContent {
  width: 47.1%;
  height: 75.8vh;
  border-width: 30px;
  border-style: solid;
  border-image: url(../img/icons/border_content.png);
  border-image-slice: 190;
  border-image-repeat: stretch;
  padding: 85px 80px;
  text-align: left;
}
div.ourMenusArea div.ourMenuContent h2.titleContent {
  position: relative;
  font-family: "bicyclette";
  color: #1c2c59;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 42.5px;
  margin-bottom: 23px;
}
div.ourMenusArea div.ourMenuContent h2::after {
  content: "";
  display: block;
  margin: auto;
  width: 200px;
  height: 90px;
  top: -48px;
  position: absolute;
  right: -108px;
  background-image: url(../img/icons/Logo_steak.png);
  background-size: contain;
  background-repeat: no-repeat;
}
div.ourMenusArea div.ourMenuContent p {
  font-size: 18px;
  margin-bottom: 43px;
}
div.ourMenusArea div.ourMenuContent a.button {
  border: 2px solid #000;
  border-radius: 0;
  padding: 11px 25.4px 11.2px 26.2px;
  font-size: 15.2px;
  font-weight: 700;
  letter-spacing: 1px;
}
div.ourMenusArea div.ourMenuContent a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
/* Footer */
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
div.footer__logo img {
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 0 7px 0;
}
.footer__social-links {
  margin-left: -37px;
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul li {
  margin: 4px 8px 0 0px;
}
.footer__social-links ul li a {
  display: flex;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i.fa-brands {
  font-size: 15px;
  padding: 0 1px;
  color: white;
}
.footer__menu-navs {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Cabin";
}
.footer__menu-navs ul {
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul li {
  margin: 4.7px;
  padding: 4px;
}
.footer__menu-navs ul li a.opt {
  font-size: 15.9px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.footer__menu-navs ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__menu-navs ul li a.opt:hover:after {
  width: 100%;
  height: 3px;
  left: 0;
}
.footer__menu-navs ul li a.button {
  border: 2px solid #000;
  padding: 6px 25px;
  font-size: 15px;
  font-weight: 700;
}
.footer__menu-navs a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
