/* Applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-fluid {
    padding: 50px !important;
  }
  header {
    border-bottom: 2px solid #fcba4f;
  }
  .borderOverlay {
    border-width: 55px;
    border-image-slice: 173 178;
    border-image-repeat: repeat;
  }

  div.header__contactInfo a.telInfo {
    display: none;
  }
  /* menu icon */
  div.menu-btn {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 20px;
    color: #253059;
    top: 30px;
    right: 60px;
  }

  div.menu-btn div.btn-line {
    width: 22px;
    height: 2.5px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  /*Animate lines*/
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .btn-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.open .btn-line:nth-child(3) {
    transform: translateY(-6px) rotate(-43deg);
  }

  .header__contactInfo {
    margin-top: 20px;
  }

  /* Menu in button */
  div.header__fixedNav-menuLinks > nav > ul,
  .header__fixedNav-menuLinks-active {
    display: none;
  }

  div.menuTablet {
    display: flex;
  }
  div.menuTablet ul.menuTablet {
    display: flex !important;
    flex-flow: column nowrap;
    gap: 5px;
    align-items: center;
  }
  .header__fixedNav-menuLinks nav ul li a.opt_2 {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    font-family: "bilo";
  }
  
}

/* Applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    background-color: orange;
  }
}
/* Applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    background-color: yellow;
  }
}
