* {
  scroll-behavior: smooth;
  color: #1c2c59;
}
ul {
  list-style: none;
}
a {
  color: #253059 !important;
  text-decoration: none !important;
}
.container-fluid {
  display: flex;
  flex-flow: nowrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 60px 100px 44px 100px !important;
  font-family: "bilo";
}
/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(/img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__fixedNav {
  display: flex;
  flex-flow: row nowrap;
}
/* When scroll, add these classes to create fixed navbar */
.header__fixedNav-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Create fixed */
  overflow: hidden;
  background-color: #f5f3ec;
  transition: 0.1s;
  position: fixed;
  width: 100%;
  top: -2px;
  left: 0;
  border-bottom: 2px solid black;
  z-index: 30;
}
.header__fixedNav-menuLinks-active {
  margin-left: 22px;
  padding: 88px 0 20px 0;

  letter-spacing: 0.5px;
}
.header__fixedNav-menuLinks-active nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks-active nav ul li a.button {
  border: 2px solid #000;
  margin-left: 1px;
  padding: 8px 22px 10px 22px;
  font-size: 15.7px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
.header__fixedNav-logo img#logo.active {
  display: block;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-logo img#logo-fixedNav.active {
  display: block;
  width: 100%;
  height: 42%;
  margin-left: 99px;
  margin-top: 60px;
  max-width: 92px;
}
/* No fixed navbar */
.header__fixedNav-logo {
  width: 25%;
  height: auto;
  margin-top: 9px;
}
.header__fixedNav-logo img {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-menuLinks {
  margin-left: -23px;
  padding-top: 35px;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks nav ul li a.opt {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
}
.header__fixedNav-menuLinks nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover:after {
  width: 100%;
  height: 2.2px;
  left: 0;
  top: 25px;
}
a.active {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks nav ul li a.button {
  border: 2px solid #000;
  margin-left: -3px;
  padding: 9px 21px 11px 21px;
  font-size: 15.7px;
  font-weight: 600;
}
.header__fixedNav-menuLinks a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
/* Content */
/* Flickity Fade Slide CSS */
.carousel {
  margin: 20px 0;
  position: relative;
}
.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.carousel-cell-image {
  display: block;
  max-width: 100%;
  width: 100vw;
}
/* fa-play fa-pause */
#playPauseButton,
#playIcon,
#pauseIcon,
#playPauseButton:focus,
#playIcon:focus,
#pauseIcon:focus {
  border: none;
  outline: none;
  position: absolute;
  top: 72.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: transparent;
}
.fa-play:before {
  content: "";
  display: block;
  background-image: url(/img/icons/fa-play.png) !important;
  background-size: contain;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  transform: none;
  color: transparent;
  background-color: transparent;
}
.fa-pause:before {
  content: "";
  display: block;
  background-image: url(/img/icons/fa-pause.png) !important;
  background-size: contain;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  transform: none;
  color: transparent;
  background-color: transparent;
}
a.arrow-info {
  position: absolute;
  top: 89.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 44px;
}
a.arrow-info i {
  color: #fff !important;
}
/* infoHL */
section.infoHL {
  margin-top: 50px;
  padding-top: 43px;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  text-align: center;
}
section.infoHL h1 {
  font-weight: 900;
  font-size: 62px;
  font-stretch: semi-condensed;
  font-family: "bicyclette";
}
section.infoHL img.tripleDiamond {
  width: 100%;
  height: 100%;
  max-width: 113px;
  max-height: 106px;
  object-fit: cover;
  margin: 4px 0 32px 0;
}
section.infoHL a {
  text-decoration: underline !important;
  font-weight: 100;
  text-align: center;
  width: 140px;
}
section.infoHL a:hover {
  color: rgba(28, 44, 89, 0.7) !important;
  transition: ease 0.1s;
}
section.infoHL h6 {
  font-weight: 900;
  font-size: 17px;
  margin: 20px 0 -7px 0;
}
section.infoHL p {
  margin: 9px 0;
  width: 70vw;
  font-size: 17px;
  font-weight: 100;
}
/* Map Visual */
section.mapVisual {
  margin: 66px 0 7px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
section.mapVisual iframe {
  width: 85vw;
  height: 62vh;
  max-width: 100vw;
  max-height: auto;
}
div.mapVisual__attribute div.logo_sticky {
  position: absolute;
  margin: 0;
  top: 42%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 7vw;
  height: auto;
}
div.mapVisual__attribute div.logo_sticky img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div.mapVisual__attribute button {
  display: flex;
  position: absolute;
  margin: 0;
  top: 79%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 0;
  border: 2px solid #000;
  padding: 0.5rem 1.5rem 0.6rem 1.5rem;
  font-size: 17px;
  font-weight: 700;
  background-color: #f5f3ec;
}
div.mapVisual__attribute button:hover {
  background-color: #fcba4f;
  border-color: #1c2c59;
  transition: ease 0.4s;
}
/* Footer */
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
div.footer__logo img {
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
div.footer__logo img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 0 7px 0;
}
.footer__social-links {
  margin-left: -37px;
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul li {
  margin: 4px 8px 0 0px;
}
.footer__social-links ul li a {
  display: flex;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i.fa-brands {
  font-size: 15px;
  padding: 0 1px;
  color: white;
}
.footer__menu-navs {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Cabin";
}
.footer__menu-navs ul {
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul li {
  margin: 4.7px;
  padding: 4px;
}
.footer__menu-navs ul li a.opt {
  font-size: 15.9px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
}
.footer__menu-navs ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.footer__menu-navs ul li a.opt:hover:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.footer__menu-navs ul li a.button {
  border: 2px solid #000;
  padding: 8px 23px 11px 24px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "bilo";
}
.footer__menu-navs a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
