* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: #1c2c59;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  color: #253059 !important;
  text-decoration: none !important;
}
.container-fluid {
  display: flex;
  flex-flow: nowrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 60px 100px 44px 100px !important;
  /* font-family: "Martel Sans", sans-serif; */
  font-family: 'bilo';
}
/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(/img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__fixedNav {
  display: flex;
  flex-flow: row nowrap;
}
/* When scroll, add these classes to create fixed navbar */
.header__fixedNav-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Create fixed */
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 0.1s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  z-index: 30;
}
.header__fixedNav-menuLinks-active {
  margin-left: 15px;
  padding: 86px 0 20px 0;
  /* padding-top: 86px;
    padding-bottom: 20px; */
}
.header__fixedNav-menuLinks-active nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt {
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks-active nav ul li a.button {
  border: 2px solid #000;
  margin-left: -3px;
  padding: 9px 25px 9px 25px;
  font-size: 15.7px;
  font-weight: 600;
}
.header__fixedNav-menuLinks-active a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
.header__fixedNav-logo img#logo.active {
  display: block;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-logo img#logo-fixedNav.active {
  display: block;
  width: 100%;
  height: 42%;
  margin-left: 99px;
  margin-top: 60px;
  max-width: 92px;
}
/* No fixed navbar */
.header__fixedNav-logo {
  width: 25%;
  height: auto;
  margin-top: 9px;
}
.header__fixedNav-logo img {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-menuLinks {
  margin-left: -37px;
  padding-top: 37px;
}
.header__fixedNav-menuLinks nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks nav ul li a.opt {
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.header__fixedNav-menuLinks nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
}
a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks nav ul li a.button {
  border: 2px solid #000;
  margin-left: -3px;
  padding: 9px 25px 9px 25px;
  font-size: 15.7px;
  font-weight: 600;
}
.header__fixedNav-menuLinks a.button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
/* Content */
/* Flickity Fade Slide CSS */
.carousel {
  margin: 20px 0;
  position: relative;
}
.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.carousel-cell-image {
  display: block;
  max-width: 100%;
  width: 100vw;
}
/* fa-play fa-pause */
#playPauseButton,
#playIcon,
#pauseIcon,
#playPauseButton:focus,
#playIcon:focus,
#pauseIcon:focus {
  border: none;
  outline: none;
  position: absolute;
  top: 72.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: transparent;
}
.fa-play:before {
  content: '';
  display: block;
  background-image: url(/img/icons/fa-play.png) !important;
  background-size: contain;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  transform: none;
  color: transparent;
  background-color: transparent;
}
.fa-pause:before {
  content: '';
  display: block;
  background-image: url(/img/icons/fa-pause.png) !important;
  background-size: contain;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  transform: none;
  color: transparent;
  background-color: transparent;
}
a.arrow-info {
  position: absolute;
  top: 89.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 44px;
}
a.arrow-info i {
  color: #fff !important;
}
/* infoOurStory */
.ourstory_description {
  text-align: center;
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin: 7rem auto;
}
.ourstory_1 {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
.img1 {
  width: 49%;
}
.img1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.ourmenu {
  width: 49%;
  position: relative;
  padding: 24px 32px 24px 32px;
  border: 30px solid transparent;
  padding: 15px;
  border-image: url(/img/icons/border_content.png) round;
  border-image-slice: 190;
}

.ourmenu img {
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
  right: 130px;
  top: 0;
}
.ourmenu_head {
  display: flex;
  padding-top: 32px;
}

.menu_icon {
  margin-right: 10px; 
  margin-top: -48px;
}

.ourmenu p {
  padding-top: 24px;
}
.ourstory_banner {
  text-align: center;
  margin: 100px auto;
  font-weight: lighter;
}
.ourstory_2 {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
.exp_img {
  width: 49%;
}
.exp_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.exp {
  width: 49%;
  position: relative;
  padding: 24px 32px 24px 32px;
  border: 30px solid transparent;
  padding: 15px;
  border-image: url(/img/icons/border_content.png) round;
  border-image-slice: 190;
}

.exp_head {
  display: flex;
}
.exp p {
  padding-top: 24px;
}
.exp_icon img {
  margin-right: 232px;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 90px;

}
section.theogcrew {
  margin-top: 50px;
  padding-top: 43px;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  text-align: center;
}
section.theogcrew h1 {
  font-weight: 900;
  font-size: 62px;
  font-stretch: semi-condensed;
  font-family: 'bicyclette';
}
section.theogcrew img.tripleDiamond {
  width: 100%;
  height: 100%;
  max-width: 113px;
  max-height: 106px;
  object-fit: cover;
  margin: 4px 0 32px 0;
}
.crew {
  width: 100%;
  position: relative;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.crew-box {
  text-align: center;
}
.crew-box img {
  width: 100%;
  height: 100%;
  max-width: 340px;
  max-height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.zoom {
  /* border: 1px solid #ccc; */
  height: auto;
  /* margin: 10px auto; */
  overflow: hidden;
  position: relative;
  width: 300px;
}
.zoom img {
  max-width: 100%;
  transition: all 1s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.crew-box h4 {
  padding-top: 30px;
}


.personalinfo {
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: none;
  width: 100vw;
  z-index: 1001;
  color: white !important;
}
.personalinfo.active {
  transform: translate(-50%, -50%) scale(1);
}
.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: #fff !important;
}
div.infobody p  {
  text-align: center;
  padding: 0 300px;
  color: white !important;
}
div.infobody h1 {
  text-align: center;
  padding: 0 300px;
  color: white !important;
}
#overLay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
}
#overLay2.active {
  opacity: 1;
  pointer-events: all;
}
.personalinfo2 {
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: none;
  width: 100vw;
  z-index: 100;
  color: white !important;
}
.personalinfo2.active {
  transform: translate(-50%, -50%) scale(1);
}
.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: #fff !important;
}
div.infobody2 p  {
  text-align: center;
  padding: 0 300px;
  color: white !important;
}
div.infobody2 h1 {
  text-align: center;
  padding: 0 300px;
  color: white !important;
}
#overLay2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  opacity: 0;
  z-index: 1002;
}
#overLay2.active {
  opacity: 1;
  pointer-events: all;
}
/* Footer */
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
div.footer__logo img {
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 0 7px 0;
}
.footer__social-links {
  margin-left: -37px;
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul li {
  margin: 4px 8px 0 0px;
}
.footer__social-links ul li a {
  display: flex;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i.fa-brands {
  font-size: 15px;
  padding: 0 1px;
  color: white;
}
.footer__menu-navs {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Cabin';
}
.footer__menu-navs ul {
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul li {
  margin: 4.7px;
  padding: 4px;
}
.footer__menu-navs ul li a.opt {
  font-size: 15.9px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.footer__menu-navs ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__menu-navs ul li a.opt:hover:after {
  width: 100%;
  height: 3px;
  left: 0;
}
.footer__menu-navs ul li a.button {
  border: 2px solid #000;
  padding: 6px 25px;
  font-size: 15px;
  font-weight: 700;
}
.footer__menu-navs a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
@media (max-width: 991.98px) {
  .img1,
  .exp_img,
  .ourmenu,
  .exp {
    width: 100%; 
    margin-top: 3rem
  }

  .ourmenu_head div,
  .exp_head div {
    left: 0; 
  }

  .ourmenu p,
  .exp p {
    font-size: 16px; 
  }

  .ourstory_description {
    font-size: 20px; }
  .exp_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin-bottom: 3rem;
}
  .ourstory_2{
    flex-wrap: wrap-reverse;
  }

}


@media (max-width: 767.98px) {
  .img1,
  .exp_img,
  .ourmenu,
  .exp {
    width: 100%; 
    margin-top: 3rem
  }
  .ourmenu

  .ourmenu_head div,
  .exp_head div {
    left: 0;
  }

  .ourmenu p,
  .exp p {
    font-size: 14px;
  }

  .ourstory_description {
    font-size: 18px;
  }
  .exp_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 285px;
    margin-bottom: 3rem;
}
  .ourstory_2{
    flex-wrap: wrap-reverse;
  }
}
  

@media (max-width: 575.98px) {
  .img1,
  .exp_img,
  .ourmenu,
  .exp {
    width: 100%; 
    margin-top: 3rem
  }

  .ourmenu_head div,
  .exp_head div {
    left: 0;
  }

  .ourmenu p,
  .exp p {
    font-size: 12px;
  }

  .ourstory_description {
    font-size: 16px;
  }
  .exp_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin-bottom: 3rem;
  }
  .ourstory_2{
    flex-wrap: wrap-reverse
  }
}
div.menu-btn {
  display: none;
}

div.menu-btn {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 20px;
    color: #253059;
    top: 50px;
    right: 91px;
  }

  div.menu-btn div.btn-line {
    width: 24px;
    height: 3px;
    background: #000;
    margin: 5px auto;
    transition-timing-function: ease-out;
  }

  /*Animate lines*/
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .btn-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.open .btn-line:nth-child(3) {
    transform: translateY(-6px) rotate(-43deg);
  }

  .header__contactInfo {
    margin-top: 20px;
  }

  /* Menu in button */
  div.header__fixedNav-menuLinks > nav > ul,
  .header__fixedNav-menuLinks-active {
    display: none;
  }
  div.menuTablet {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 70px;
    left: 0%;
    text-align: center;
    z-index: 1;
    background-color: #f5f3ec;
    transition: all 0.3s ease-out;
  }
  .hiddenAll {
    display: none;
  }  
  h1.titleSlider {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 39%;
    font-size: 76.5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "bicyclette";
  }
  