* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: #1c2c59;
}
ul {
  list-style: none;
}
a {
  color: #253059 !important;
  text-decoration: none !important;
}
.container-fluid {
  display: flex;
  flex-flow: nowrap column;
  position: relative;
  background-color: #f5f3ec;
  padding: 60px 100px 44px 100px !important;
  /* font-family: "Martel Sans", sans-serif; */
  font-family: "bilo";
}
/* Border for Website  */
.borderOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-width: 76px;
  border-image: url(/img/icons/Border.png);
  border-image-slice: 122;
  border-style: solid;
  border-image-repeat: stretch;
  z-index: 999;
  pointer-events: none;
}
/* Header */
.header__contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 8px;
}
.header__contactInfo a {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}
.header__contactInfo a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.header__fixedNav {
  display: flex;
  flex-flow: row nowrap;
}
/* When scroll, add these classes to create fixed navbar */
.header__fixedNav-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* Create fixed */
  overflow: hidden;
  background-color: #f5f3ec;
  transition: 0.1s;
  position: fixed;
  width: 100%;
  top: -2px;
  left: 0;
  border-bottom: 2px solid black;
  z-index: 30;
}
.header__fixedNav-menuLinks-active {
  margin-left: 22px;
  padding: 88px 0 20px 0;

  letter-spacing: 0.5px;
}
.header__fixedNav-menuLinks-active nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks-active nav ul li a.opt:hover:after {
  width: 100%;
  height: 2px;
  left: 0;
  top: 25px;
}
.header__fixedNav-menuLinks-active nav ul li a.active {
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks-active nav ul li button {
  border: 2px solid #000;
  margin-left: 1px;
  padding: 8px 22px 10px 22px;
  font-size: 15.7px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks-active button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}
.header__fixedNav-logo img#logo.active {
  display: block;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-logo img#logo-fixedNav.active {
  display: block;
  width: 100%;
  height: 42%;
  margin-left: 99px;
  margin-top: 60px;
  max-width: 92px;
}
/* No fixed navbar */
.header__fixedNav-logo {
  width: 25%;
  height: auto;
  margin-top: 9px;
}
.header__fixedNav-logo img {
  display: none;
  width: 100%;
  height: auto;
  max-width: 221px;
}
.header__fixedNav-menuLinks {
  margin-left: -23px;
  padding-top: 35px;
  letter-spacing: 1px;
}
.header__fixedNav-menuLinks nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
  align-items: center;
}
.header__fixedNav-menuLinks nav ul li a.opt {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
}
.header__fixedNav-menuLinks nav ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.header__fixedNav-menuLinks nav ul li a.opt:hover:after {
  width: 100%;
  height: 2.2px;
  left: 0;
  top: 25px;
}
a.active {
  font-size: 15.2px;
  font-weight: 600;
  display: inline-block;
  height: 27.5px;
  position: relative;
  border-bottom: 3px #000 solid;
}
.header__fixedNav-menuLinks nav ul li button {
  border: 2px solid #000;
  margin-left: -3px;
  padding: 9px 21px 11px 21px;
  font-size: 15.7px;
  font-weight: 600;
}
.header__fixedNav-menuLinks button:hover {
  text-decoration: none;
  background-color: #fbc165;
  transition: ease 0.4s;
}

/* Modal Form */
dialog{
  background-color: #000;
  opacity: 0.9;
  
}
.modal{
  border-image: none;
  border: none;
  z-index: 1000 !important;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.modal_heading{
  text-align: center;
  margin-bottom: 2rem;
}
.modal_heading h2{
  font-family: "bicyclette";
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 40px;
  padding-top: 85px;
  line-height: 1.1;
  margin-top: 0;
  color: #f1f1f1;
}
.form-ui{
  text-align: center;
  width: 100%;
}

/* Content */
main {
  display: block;
  position: relative;
  z-index: 0;
}
.press_heading {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}
.tripleDiamond {
  width: 100%;
  height: 100%;
  max-width: 113px;
  max-height: 106px;
  object-fit: cover;
  margin: 4px 0 32px 0;
}
.press_heading h1 {
  font-family: "bicyclette";
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 59.5px;
  padding-top: 85px;
  line-height: 1.1;
  margin-top: 0;
}
p {
  font-family: "bilo";
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 17px;
}
section.content.container {
  text-align: center;
  margin-bottom: 2rem;
}
ul#press {
  padding-left: 0;
  /* display: none; */
}
.card_media {
  overflow: hidden;
  position: relative;
  clip-path: polygon(
    40px 0,
    calc(100% - 40px) 0,
    100% 40px,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    40px 100%,
    0 calc(100% - 40px),
    0 40px
  );
}
.image-thumbnail {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #1c2c59;
  padding-top: 80%;
  margin-bottom: 0;
  clip-path: polygon(
    40px 0,
    calc(100% - 40px) 0,
    100% 40px,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    40px 100%,
    0 calc(100% - 40px),
    0 40px
  );
  transition: all 0.8s 0s ease;
}
.image-thumbnail:hover {
  transform: scale(1.1);
  opacity: 0.8;
  clip-path: polygon(
    40px 0,
    calc(100% - 40px) 0,
    100% 40px,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    40px 100%,
    0 calc(100% - 40px),
    0 40px
  );
}
.card_media:hover {
  background-color: #fbc165;
  z-index: 1;
  clip-path: polygon(
    40px 0,
    calc(100% - 40px) 0,
    100% 40px,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    40px 100%,
    0 calc(100% - 40px),
    0 40px
  );
}
.image-thumbnail:hover {
  background-size: 130%;
  opacity: 0.85;
}
.food_card {
  color: #1c2c59;
  margin-bottom: 3rem;
  text-align: center;
  display: none;
}
.showCard{
  display: block;
}
 .food_card:nth-child(-n+10){
  display: block;
} 

.food_card:nth-child(10) {
  margin-left: auto;
  margin-right: auto;
}
.food_card:nth-child(28) {
  margin-left: auto;
}
.food_card:nth-child(29) {
  margin-right: auto;
}
a {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  display: block;
  color: #1c2c59;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
h3 {
  font-size: 1.2rem;
  font-family: "bicyclette";
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.865rem;
}
h2 {
  text-transform: initial;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
  color: #1c2c59;
  margin-bottom: 1rem;
}
.loadMore {
  margin-left: auto;
  margin-right: auto;
}
.loadMore .btn {
  justify-items: center;
  border-radius: 0;
  padding: 0.5rem 1.5rem 0.6rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15.3px;
  border-width: 2px;
  font-family: "bilo";
  color: #1c2c59;
  border-color: #1c2c59;
  font-weight: bold;
  margin-bottom: 1rem;
  box-shadow: none;
}
.loadMore .btn:hover {
  background-color: #fbc165;
}
.loadMore .btn:active {
  background-color: #faad30;
}

/* Footer */
div.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0;
}
div.footer__logo img {
  width: 100%;
  height: auto;
  max-width: 26px;
  max-height: 50px;
}
.footer__navigations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px 0 7px 0;
}
.footer__social-links {
  margin-left: -37px;
}
.footer__social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__social-links ul li {
  margin: 4px 8px 0 0px;
}
.footer__social-links ul li a {
  display: flex;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #1c2c59;
}
.footer__social-links i.fa-brands {
  font-size: 15px;
  padding: 0 1px;
  color: white;
}
.footer__menu-navs {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Cabin";
}
.footer__menu-navs ul {
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu-navs ul li {
  margin: 4.7px;
  padding: 4px;
}
.footer__menu-navs ul li a.opt {
  font-size: 15.9px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.footer__menu-navs ul li a.opt:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__menu-navs ul li a.opt:hover:after {
  width: 100%;
  height: 3px;
  left: 0;
}
.footer__menu-navs ul li a.button {
  border: 2px solid #000;
  padding: 6px 25px;
  font-size: 15px;
  font-weight: 700;
}
.footer__menu-navs a.button:hover {
  text-decoration: none;
  background-color: #fcba4f;
  transition: ease 0.4s;
}
 /* Media content */
 @media (max-width: 575.98px) { 
  .header__fixedNav-menuLinks {
    display: none;
   }
   .header__fixedNav-menuLinks-active{
    display: none;
   }
   .footer__menu-navs ul {
    align-content:  center;
   }
  }
  @media (max-width:768px) {
    
 
}